body {
  background-color: #000000;
}

#jumbotron {
  background-color: #000000;
  font-family: 'Codystar';font-size: 100px;
  text-align: center;
  text-decoration-color: #7937bf;
}

h1.double {
  border-style: double;
  border-color: #7937bf;
}
