body {
  background-color: #a9a9a9;
}

#jumbotron {
  background-color: #cfd1d2;
  font-family: 'Codystar';font-size: 100px;
  text-align: center;
  text-decoration-color: #7937bf;
}

h1.double {
  border-style: double;
  border-color: #dc00f1;
}
