body {
  background-image: url("../img/background.jpg");
  background-color: #a9a9a9;
}

#jumbotron {
  background-color: #000000;
  font-family: 'Codystar';font-size: 100px;
  text-align: center;
  text-decoration-color: #7937bf;
  height: 200px;
}

h1.double {
  border-style: double;
  border-color: #dc00f1;
}

#intro {
  margin-left: 300px;
  width: 450px

}
